.grid {
  display: grid;
}

.gap-8 {
  gap: 2rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-cols-3 {
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-4xl {
  font-size: 2.25rem;
}